{% extends 'base.html' %}
{% block content %}
<style>
table {
  width:100%;
}
table, th, td {
  border: 0px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
 background-color: #fff;
}
#t01 th {
  background-color: black;
  color: white;
}
#leftPanel{
    background-color:#0079ac;
    color:#fff;
/*     text-align: center; */
}

#rightPanel{
    min-height:500px;
  min_width:300px;
}

/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 20px;
  border-top: 0;
/*   background: #c4e17f; */
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

</style>
<br><br><br>
<br>
<div class="container">
		<div class="m-3 h4 text-uppercase font-weight-bold">About</div>
	<hr class="colorgraph m-5">
<div class="row">
	<div class="col m-5">
                         <ol class="text-info bg-light">
                            <div class="text-uppercase font-weight-bold">Our Objectives</div><hr>
                            <li>
                                To arrange a meet of all the Ex-students of the Technical Campus from time to time.</li><li>
                             To arrange career guidance seminars for the Technical Campus students by inviting Ex-students of the Technical Campus.</li><li>
                             To create a link between current students and Ex-students of the Technical Campus so that they can take valuable guidance regarding their Industrial trainings as well as placements.</li><li>
                             To work for the over upliftment of the Technical Campus by seeking contributions/suggestions from the Ex-students.</li><li>
                             To help Technical Campus authorities for arranging convocations of the passed out students from time to time for awarding Degree/Diploma certificates.</li><li>
To construct Alumni House for the Ex-Students for their accommodation in the Technical Campus campus.</li>
                         </ol>
</div>
	<div class="col p-5">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/xTnmd6nKzxQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	</div><a href="/social/mypost" class="w3-btn w3-white w3-border w3-border-teal w3-round m-5">Back</a>
	<br><br>
	<hr class="colorgraph m-5">
</div>

{% endblock %}

