{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .w3-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
</style>
<!-- Header >
<header-- class="container-fluid w3-blue w3-center bgimg" style="padding:128px 16px">
        <div class="default w3-circle w3-round-xxlarge" id="logo"><img src="{% static 'images/LogoWG.png' %}" width="6%">
        </div>
  <h1 class="w3-margin-top imtxt" style="font-size:4.8vw;" >Alumni Association</h1>
  <p class="w3-margin-top imtxt" style="font-size:1.8vw;" >Shaheed Bhagat Singh State Technical Campus</p>
  <button class="w3-button w3-blue w3-border w3-border-white w3-margin-top w3-hover-cyan" style="font-size:1.6vw;padding-left:1.5%;padding-right:1.5%;">Join Us</button>
</header-->

<div class="w3-content cont bgimg" style="max-width:100%;height:5%;">
    <div class="shadow" style="color:transparent;">.</div>
  <img class="mySlides" src="https://www.sbsstc.ac.in/im/16.jpg" style="width:100%;height:500px;">
  <img class="mySlides" src="https://www.sbsstc.ac.in/im/01.jpg" style="width:100%;height:500px">
  <img class="mySlides" src="https://www.sbsstc.ac.in/im/03.jpg" style="width:100%;height:500px">
  <img class="mySlides" src=""  style="width:100%;height:500px">
    <div class="bottom-left p-5 w-100" style="background-color:rgba(0, 150, 136,0.5);">
        <marquee><p>Welcome to SBSSTC Alumni Association</p></marquee>
    </div>
</div>



<!--div class="container p-5 mt-5 mx-auto">
	<div class="h5 bg-white p-2 float-right border text-dark position-absolute text-center" style="z-index:2;
   box-shadow: 10px 10px 5px grey;font-size:1.5vw;">Upcoming Events</div><hr class="w-100" size="w-100">
	<div class="row p-5 w3-teal imgg mt-3">
		<div class="col-lg-6">
            <img src="{% static 'images/2.png'%}" alt="no img" class="w-100 mt-5">
			<div class="p-2 text-center bg-white text-dark mt-2" style="font-size:1.2vw;">it's 27 Febuary 2019</div>
		</div>
		<div class="col-lg-6 text-white mt-5">
			<div class="row p-2">
				<div class="col-lg-1 col-md-1 col-sm-1  p-1 mr-1 bg-dark text-center border border-secondry"><p class="text-center" id="demoday"></p></div>
				<div class="col-lg-1 col-md-1 col-sm-1 p-1 mr-1 bg-dark text-center border border-secondry"><p class="text-center" id="demohr"></p></div>
				<div class="col-lg-1 col-md-1 col-sm-1 p-1 mr-1 bg-dark text-center border border-secondry"><p class="text-center" id="demomin"></p></div>
				<div class="col-lg-1 col-md-1 col-sm-1 p-1 mr-1 bg-dark text-center border border-secondry"><p class="text-center" id="demosec"></p></div>
			</div>
			<div class="p-2">
				<div class="mt-2" style="font-size:2vw;">We are going to arrange a get together.</div>
				<p class="mt-2" style="font-size:1.2vw;" >Hello everyone lkoan xk akndokno kaonskxjlna alksnckcnals
				asjnccjn loaks lasjsn lasccljs alksjccl alsjcnacla lasc alsscla asmakasm asjs a ajakllskd
				aldlmla.<p>
			</div>
			 <button class="w3-button w3-blue w3-border w3-border-white w3-hover-cyan " style="font-size:1.5vw;padding-left:2.3%;padding-right:2.3%;">Join with Us</button>
		</div>
	</div>
</div-->
<div class="container-fluid p-3 mt-5">
    <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 mt-5">
        <div><a class=" ml-0 w-100 w3-button w3-cyan text-white w3-border w3-border-white  w3-hover-green p-5 imgg mb-2"  onclick="openCity(event, 'myid')">Recent News</a></div>
        <div><a class=" w-100 w3-button w3-cyan text-white w3-border w3-border-white  w3-hover-green p-5 imgg mb-2"  onclick="openCity(event, 'myid1')">Upcoming Events</a></div>
        <div><a class=" w-100 w3-button w3-cyan text-white w3-border w3-border-white  w3-hover-green p-5 imgg mb-2"  onclick="openCity(event, 'myid2')">Recent Jobs</a></div>
        <div><a class=" w-100 w3-button w3-cyan text-white w3-border w3-border-white  w3-hover-green p-5 imgg mb-2"  onclick="openCity(event, 'myid3')">FeedBack Form</a></div>
        <div><a class=" w-100 w3-button w3-cyan text-white w3-border w3-border-white  w3-hover-green p-5 imgg mb-2"  onclick="openCity(event, 'myid4')">FAQ</a></div>
    </div>

    <div class="col-lg-10 col-md-10 col-sm-10 p-5 w-100 text-center bg-light" style="height:430px; overflow:scroll;overflow-x: hidden;">
        <div class="tabcontent" id="myid" style="display:block;"><h2 class="w3-animate-top w3-teal text-white imgg text-center">Recent News</h2><hr>
      <ul class="w3-ul p-5">
    {% for n2 in notice_list %}
    <li class=" row  text-center w3-animate-left">
        <div class="col-lg-3 p-3 text-white bgimg">
            <img class="img-fluid" src="/media/{{n2.pic}}">
        </div>
        <div class="col-lg-7">
        <div class="h6 text-left">{{n2.subject}}</div>
            <div class="row">
                <div class="col-lg-5"><span class="w3-small">{{n2.cr_date | date:"D d M Y"}}</span></div>
                <div class="col-lg-5"><span><a class="w3-right w3-small" href='/social/notice/{{n2.id}}'>Read More</a></span></div>
                <div class="col-lg-2"> <a class="w3-right" href='/social/notice/delete/{{n1.id}}'><span class="fa fa-trash"></span></a></div>
            </div></div>
      </li>
    {% endfor %}
      </ul>
        </div>
        <div class="tabcontent" id="myid1" style="display:none;"><h2 class="w3-animate-top w3-teal imgg text-center">Upcoming Events</h2><hr>

            <div class="container p-5 mt-5 mx-auto">
	<div class="h5 bg-white p-2 float-right border text-dark position-absolute text-center" style="z-index:2;
   box-shadow: 10px 10px 5px grey;font-size:1.5vw;">Upcoming Events</div><hr class="w-100" size="w-100">
	<div class="row p-5 w3-teal imgg mt-3">
		<div class="col-lg-6">
            <img src="{% static 'images/2.png'%}" alt="no img" class="w-100 mt-5">
			<div class="p-2 text-center bg-white text-dark mt-2" style="font-size:1.2vw;">it's 27 Febuary 2019</div>
		</div>
		<div class="col-lg-6 text-white mt-5">
			<div class="row p-2">
				<div class="col-lg-1 col-md-1 col-sm-1  p-1 mr-1 bg-dark text-center border border-secondry"><p class="text-center" id="demoday"></p></div>
				<div class="col-lg-1 col-md-1 col-sm-1 p-1 mr-1 bg-dark text-center border border-secondry"><p class="text-center" id="demohr"></p></div>
				<div class="col-lg-1 col-md-1 col-sm-1 p-1 mr-1 bg-dark text-center border border-secondry"><p class="text-center" id="demomin"></p></div>
				<div class="col-lg-1 col-md-1 col-sm-1 p-1 mr-1 bg-dark text-center border border-secondry"><p class="text-center" id="demosec"></p></div>
			</div>
			<div class="p-2">
				<div class="mt-2" style="font-size:2vw;">We are going to arrange a get together.</div>
				<p class="mt-2" style="font-size:1.2vw;" >Hello everyone lkoan xk akndokno kaonskxjlna alksnckcnals
				asjnccjn loaks lasjsn lasccljs alksjccl alsjcnacla lasc alsscla asmakasm asjs a ajakllskd
				aldlmla.<p>
			</div>
			 <button class="w3-button w3-blue w3-border w3-border-white w3-hover-cyan " style="font-size:1.5vw;padding-left:2.3%;padding-right:2.3%;">Join with Us</button>
		</div>
	</div>
</div>

        </div>
        <!--Recent jobs-->
        <div class="tabcontent" id="myid2" style="display:none;"><h2 class="w3-animate-top w3-teal imgg text-center">Recent Jobs</h2><hr>


            <ul class="w3-ul p-5">
                {% for n1 in mypost_list %}
                <li class=" row  text-center">
                    <div class="col-lg-3 p-3 text-white bgimg">
                        <img class="img-fluid" src="/media/{{n1.pic}}" width="584px" height="240px">
                    </div>
                    <div class="col-lg-7">
                    <div class="h6 text-left">{{n1.subject}}</div>
                        <div class="row">
                            <div class="col-lg-5"><span class="w3-small">{{n1.cr_date | date:"D d M Y"}}</span></div>
                            <div class="col-lg-5"><span><a class="w3-right w3-small" href='/social/mypost/{{n1.id}}'>Read More</a></span></div>
                            <div class="col-lg-2"> <a class="w3-right" href='/social/mypost/delete/{{n1.id}}'><span class="fa fa-trash"></span></a></div>
                        </div></div>
                  </li>
                {% endfor %}
            </ul>


        </div>

        <div class="tabcontent p-5" id="myid3" style="display:none;"><h2 class="w3-animate-top w3-teal imgg text-center">Please Give Your Valuable Feedback</h2>
            <br><br><a class="w3-btn w3-cyan w3-border w3-border-teal w3-round" href="/social/feedback/">Feedback Form</a>
            <br><hr><br><br>
            <h2 class="text-center">Invitaion Card</h2>
            <a href = 'http://krishpy.pythonanywhere.com/' style='position:absolute;'>Build Your Community
            <img src='https://gnoptg.dm.files.1drv.com/y4mW604sezd1zDYk4YSPRR_OruFQR0fa5kVlQ36Jerbnn7OZx9LWh21Z6a1zI5l0HAAWNgiP_RaQThrDYGCT2fXnq0EmWFA68cqmh6vW_SI0x3uDH7xXvzlaCS3Aaryh5DU4d0EZousvx0r13fZ21XWK2P3tBBqwFKrzN5PGZx4aXftKn5Mxh5154rDBdSD2EVUF352bcMrL-ryHAARm1nMtA?width=179&height=256&cropmode=none' alt='Build Your Community' width='179' height='256' />
            </a>
        </div>
        <div class="tabcontent" id="myid4" style="display:none;">
            <!--Upcoming Events Container-->
<div class="container-fluid">
	<div class="row mb-0 bg-dark">
		<div class="w-100 p-5 text-center bg-light">
			<h1 class="w3-animate-top w3-teal imgg text-center">FAQ</h1><br>
            {% for ob in faq_list %}
			<hr class="w-100">
			<div class="">

					<button class="collapsibl w-100 bg-white"><span style="margin-left:18px;">{{ob.subject}} </span><span class="float-right">{{ob.cr_date}}</span></button>
						<div class="content">
						<p>answered by - {{ob.user}}</p>
						<p class="float-right">{{ob.msg}}<p>
						</div>
			</div>
            {% endfor %}
		</div>
	</div>
</div>
        </div>
    </div>
    </div>
</div>

<!--div class="container-fluid sec p-5 mx-auto">
<div class="row mx-auto text-center">

    <div class="col-lg-6">
  <div class="w3-card w3-margin w3-white">
    <div class="w3-container w3-padding text-white" style="background-color:#39809b;">
      <h4>Popular Posts</h4><hr>
    </div>
      <div style="height:450px; overflow:scroll">
      <ul class="w3-ul p-4">
    {% for n1 in mypost_list %}
    <li class=" row  text-center">
        <div class="col-lg-3 p-3 text-white bgimg">
            <img class="img-fluid" src="/media/{{n1.pic}}" />
        </div>
        <div class="col-lg-7">
        <div class="h6 text-left">{{n1.subject}}</div>
            <div class="row">
                <div class="col-lg-5"><span class="w3-small">{{n1.cr_date | date:"D d M Y"}}</span></div>
                <div class="col-lg-5"><span><a class="w3-right w3-small" href='/social/mypost/{{n1.id}}'>Read More</a></span></div>
                <div class="col-lg-2"> <a class="w3-right" href='/social/mypost/delete/{{n1.id}}'><span class="fa fa-trash"></span></a></div>
            </div></div>
      </li>
    {% endfor %}
      </ul>
      </div></div></div>


    <div class="col-lg-6">
  <div class="w3-card w3-margin w3-white">
    <div class="w3-container w3-padding text-white" style="background-color:#39809b;" >
          <h4>Notice Board</h4><hr>
    </div>
       <div style="height:450px; overflow:scroll">
      <ul class="w3-ul p-4">
    {% for n2 in notice_list %}
    <li class=" row  text-center">
        <div class="col-lg-3 p-3 text-white bgimg">
            <img class="img-fluid" src="/media/{{n2.pic}}" />
        </div>
        <div class="col-lg-7">
        <div class="h6 text-left">{{n2.subject}}</div>
            <div class="row">
                <div class="col-lg-5"><span class="w3-small">{{n2.cr_date | date:"D d M Y"}}</span></div>
                <div class="col-lg-5"><span><a class="w3-right w3-small" href='/social/notice/{{n1.id}}'>Read More</a></span></div>
                <div class="col-lg-2"> <a class="w3-right" href='/social/notice/delete/{{n1.id}}'><span class="fa fa-trash"></span></a></div>
            </div></div>
      </li>
    {% endfor %}
      </ul>
       </div></div></div>


</div>
</div-->

<br><br>
<div class="container-fluid sec text-center p-5">
    <div class="row p-5 m-5 text-center" style="background-color:rgba(0, 150, 136,0.6);">
        <div class="col-lg col-md col-sm w3-cyan m-2 p-5 text-white" >
            <p style="font-size:1.5vw;"> Registerd Profiles </p>
            <h1 style="font-size:1.5vw;">{{user_count}} +</h1>
        </div>
        <div class="col-lg col-md col-sm w3-cyan m-2 p-5 text-white">
            <p style="font-size:1.5vw;"> Posts </p>
            <h1 style="font-size:1.5vw;">{{mypost_count}} +</h1>
        </div>
        <div class="col-lg col-md col-sm w3-cyan m-2 p-5 text-white">
            <p style="font-size:1.5vw;">Events</p>
            <p id="demo" style="font-size:1.5vw;"></p>
            <h2 style="font-size:1.5vw;">0 +</h2>
        </div>
        <div class="col-lg col-md col-sm w3-cyan m-2 p-5 text-white">
            <p style="font-size:1.5vw;">Feedbacks</p>
            <h2 style="font-size:1.5vw;">{{feed_count}} +</h2>
        </div>
    </div>
</div>


<div class="container-fluid">
<div class="row p-5">

{% for fd in feed_list %}
	<div class="col-sm-4 p-4">
<div class="card h-100 w3-cyan text-white">
    <div class="card-body">
        <h4 class="card-title">{{fd.feed_name | capfirst}}</h4>
        <h6 class="card-title">{{fd.feedback | capfirst}} - {{fd.feed_date}}</h6>
        <p class="card-text">{{fd.suggetion | capfirst}}</p>
		<a class="w3-btn w3-white w3-border w3-border-teal w3-round" href='/social/fdd/{{fd.id}}'>Read More</a>
        </div>
</div>

	</div>
{% endfor %}
</div>
</div></div></div>






<!--div class="container p-3 mt-4 mb-5 mx-auto">
	<div class="h5 w3-cyan p-2 float-right border text-dark position-absolute text-center" style="z-index:2;
   box-shadow: 10px 10px 5px grey;font-size:1.5vw;">Socialize</div>
	<div class="row text-center p-5 mt-5 w3-border w3-border-teal collabsi">
        	<div class="col w3-blue w3-large p-2 m-2"><i class="fa fa-facebook-official w3-hover-opacity"></i></div>
            <div class="col p-2 m-2" style="background-color:#E1306C;"><i class="fa fa-instagram w3-hover-opacity"></i></div>
            <div class="col w3-cyan p-2 m-2"><i class="fa fa-twitter w3-hover-opacity"></i></div>
            <div class="col p-2 m-2" style="background-color:#0072b1;"><i class="fa fa-linkedin w3-hover-opacity"></i></div>
    </div>

    .w3-spin{animation:w3-spin 2s infinite linear}@keyframes w3-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.w3-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.w3-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.w3-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.w3-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.w3-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.w3-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.w3-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.w3-animate-input{transition:width 0.4s ease-in-out}.w3-animate-input:focus{width:100%!important}

</div-->



<script>
// Set the date we're counting down to
var countDownDate = new Date("Jan 5, 2021 15:37:25").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Output the result in an element with id="demo"
  document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";

    // Output the result in an element with id="demo"
  document.getElementById("demoday").innerHTML = days+ "d" ;

  // Output the result in an element with id="demo"
  document.getElementById("demohr").innerHTML = hours + "h";

  // Output the result in an element with id="demo"
  document.getElementById("demomin").innerHTML = minutes + "m";

  // Output the result in an element with id="demo"
  document.getElementById("demosec").innerHTML = seconds+ "s";


  // If the count down is over, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>

<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 2500);
}
</script>

<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>


{% endblock %}
