{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
body{
background:#ffffff;
}
li{
list-style-type:none;
}
a{text-decoration:none;
color:#fff;
}
a:hover{
text-decoration:none;
color:#fff;
cursor: pointer;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container1 {
  padding: 2px 16px;
}
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
 background-color: #fff;
}
#t01 th {
  background-color: black;
  color: white;
}
#leftPanel{
    background-color:#0079ac;
    color:#fff;
/*     text-align: center; */
}

#rightPanel{
    min-height:500px;
  min_width:300px;
}

/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 20px;
  border-top: 0;
/*   background: #c4e17f; */
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

</style>
<br><br><br>
<body>

	<div class="container-fluid">
        <div class=" row p-5">
					<li><a class="w3-btn w3-teal w3-border w3-border-teal w3-round" onclick="openCity('profile')">Profile</a></li><hr>
					<li><a class="w3-btn w3-teal w3-border w3-border-teal w3-round ml-2" onclick="openCity('education')">Education</a></li><hr>
					<li><a class="w3-btn w3-teal w3-border w3-border-teal w3-round ml-2" onclick="openCity('exp')">Skills and Experience</a></li><hr>
					<li><a class="w3-btn w3-teal w3-border w3-border-teal w3-round ml-2" onclick="openCity('contact')">Contact</a></li><hr>
                    <li>
            	        {% if request.user.id == myprofile.id %}
	                        <a class="w3-btn w3-teal w3-border w3-border-teal w3-round ml-2" href='/social/myprofile/edit/{{ myprofile.id }}'>Update Profile</a>
	                    {% endif %}
                    </li>
				</div>
        <hr>
    <div class="row p-5">
        <div class="col-lg-3">
        <div class="w-100 card p-1">
          <img src="/media/{{myprofile.pic}}" alt="Avatar" style="width:100%">
          <div class="container1">
            <h4><b>{{myprofile.name}}</b></h4>
            <p>{{myprofile.description}}</p>
          </div>
        </div>
        </div>

        <div class="col-lg-6 p-5 ml-5">
            <div id="profile" class="page-content city" style="">
                <div class="h4 text-uppercase font-weight-bold m-5">Profile</div><hr class="colorgraph mb-5">
                        <table>
                        <tr class="text-info bg-light">
                            <td class="text-uppercase font-weight-bold">Name</td>
                            <td class="text-uppercase font-weight-bold">{{myprofile.name}}</td>
                        </tr>
                        <tr class="text-info bg-light">
                            <td class="text-uppercase font-weight-bold">Profile Type</td>
                            <td class="text-uppercase font-weight-bold">{{myprofile.ptype}}</td>
                        </tr>
                         <tr class="text-info bg-light">
                            <td class="text-uppercase font-weight-bold">Gender</td>
                            <td class="text-uppercase font-weight-bold">{{myprofile.gender}}</td>
                        </tr>
                         <tr class="text-info bg-light">
                            <td class="text-uppercase font-weight-bold">Age</td>
                            <td class="text-uppercase font-weight-bold">{{myprofile.age}}</td>
                        </tr>
                         <tr class="text-info bg-light">
                            <td class="text-uppercase font-weight-bold">Year Of Joining</td>
                            <td class="text-uppercase font-weight-bold">{{myprofile.YOJ}}</td>
                        </tr>
                         <tr class="text-info bg-light">
                            <td class="text-uppercase font-weight-bold">Pass Out Year</td>
                            <td class="text-uppercase font-weight-bold">{{myprofile.YOP}}</td>
                        </tr>
                         <tr class="text-info bg-light">
                            <td class="text-uppercase font-weight-bold">My Resume</td>
                            <td class="text-uppercase font-weight-bold"><a class="w3-btn w3-white w3-border w3-border-teal w3-round" href="/media/{{myprofile.myresume}}">My Resume</a></td>
                        </tr>
                        </table>
<hr class="colorgraph mb-5">
            </div>


            <div id="education" class="page-content city" style="display:none">
                <div class="h4 text-uppercase font-weight-bold m-5">Education</div><hr class="colorgraph mb-5">
                        <table>
                        <tr class="text-info bg-light">
                            <td class="text-uppercase font-weight-bold">Course</td>
                            <td class="text-uppercase font-weight-bold">{{myprofile.course}}</td>
                        </tr>
                        <tr class="text-info bg-light">
                            <td class="text-uppercase font-weight-bold">Branch</td>
                            <td class="text-uppercase font-weight-bold">{{myprofile.branch}}</td>
                        </tr>
                          <tr class="text-info bg-light">
                            <td class="text-uppercase font-weight-bold">Year Of Joining</td>
                            <td class="text-uppercase font-weight-bold">{{myprofile.YOJ}}</td>
                        </tr>
                         <tr class="text-info bg-light">
                            <td class="text-uppercase font-weight-bold">Year Of Passing</td>
                            <td class="text-uppercase font-weight-bold">{{myprofile.YOP}}</td>
                        </tr>
                         <tr class="text-info bg-light">
                            <td class="text-uppercase font-weight-bold">College</td>
                            <td class="text-uppercase font-weight-bold">Shaheed Bhagat Singh State Technical Campus</td>
                        </tr>
                        </table>
<br><br>

                        <table>
                            <tr class="text-info bg-light">
                                <th class="text-uppercase font-weight-bold"> 10 %</th>
                                <th class="text-uppercase font-weight-bold"> 12 %</th>
                                <th class="text-uppercase font-weight-bold"> Graduation %</th>
                            </tr>
                        <tr class="text-info bg-light">
                            <td class="text-uppercase font-weight-bold">{{myprofile.highper}}</td>
                            <td class="text-uppercase font-weight-bold">{{myprofile.interper}}</td>
                            <td class="text-uppercase font-weight-bold">{{myprofile.grduper}}</td>
                        </tr>
                        </table>

                    </tr><hr class="colorgraph mb-5">
            </div>

            <div id="exp" class="page-content city" style="display:none">
                <div class="h4 text-uppercase font-weight-bold m-5">Skills and Experience</div><hr class="colorgraph mb-5">
                <table>
                        <tr class="text-info bg-light">
                            <td class="text-uppercase font-weight-bold">Working Status</td>
                            <td class="text-uppercase font-weight-bold">{{myprofile.status}}</td>
                        </tr>
                        <tr class="text-info bg-light">
                            <td class="text-uppercase font-weight-bold">Year Of Experience</td>
                            <td class="text-uppercase font-weight-bold">{{myprofile.YOE}}</td>
                        </tr>
                         <tr class="text-info bg-light">
                            <td class="text-uppercase font-weight-bold">Skills</td>
                            <td class="text-uppercase font-weight-bold">{{myprofile.description}}</td>
                        </tr>
                         <tr class="text-info bg-light">
                            <td class="text-uppercase font-weight-bold">My Resume</td>
                            <td class="text-uppercase font-weight-bold">{{myprofile.myresume}}</td>
                        </tr>
                </table>


                <hr class="colorgraph mb-5">
            </div>

            <div id="contact" class="page-content city" style="display:none">
                <div class="h4 text-uppercase font-weight-bold m-5">Get In Touch</div><hr class="colorgraph mb-5">
                <table>
                        <tr class="text-info bg-light">
                            <td class="text-uppercase font-weight-bold">Contact Number</td>
                            <td class="text-uppercase font-weight-bold">{{myprofile.phone_no}}</td>
                        </tr>
                        <tr class="text-info bg-light">
                            <td class="text-uppercase font-weight-bold">Address</td>
                            <td class="text-uppercase font-weight-bold">{{myprofile.address}}</td>
                        </tr>
                         <tr class="text-info bg-light">
                            <td class="text-uppercase font-weight-bold">Email</td>
                            <td class=" font-weight-bold">{{myprofile.user.email}}
                                <!--a href="/social/emailform" class="w3-btn w3-white w3-border w3-border-teal w3-round">Email Form</a--></td>
                        </tr>
                </table>
                <hr class="colorgraph mb-5">
            </div>

        </div>

    </div>
        <a href="/social/myprofile" class="w3-btn w3-white w3-border w3-border-teal w3-round">Back</a>
        <br>
    </div>






    <script>
function openCity(cityName) {
  var i;
  var x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  document.getElementById(cityName).style.display = "block";
}
</script>
</body>




{% endblock %}
