{% extends 'base.html' %}
{% block content %}

    <!-- Header -->
<header class="w3-container bgimg text-white w3-center p-3" >
  <h1 class="w3-margin w3-jumbo">Alumni Directory</h1>
  <p class="w3-xlarge">Shaheed Bhagat Singh State Technical Campus</p>
</header>

<div class="p-5">
<h1 class="myhead2">Profiles </h1>
<hr>
	{% if user.is_superuser %}
	<a class="w3-btn w3-white w3-border w3-border-teal w3-round" href='/social/csv/'>Export All Profiles(CSV)</a>
	<a class="w3-btn w3-white w3-border w3-border-teal w3-round" href='/social/pdf/'>Export PDF</a>
	<a class="w3-btn w3-white w3-border w3-border-teal w3-round" href='/social/email/'>Email</a>
	<a class="w3-btn w3-white w3-border w3-border-teal w3-round" href='/social/massemail/'>Mass Email</a>
	{% endif %}
	<hr>
<form class="form-inline">
<input class="form-control mr-3" placeholder="Search" value="{{ request.GET.si }}" type="text" name="si" />
<input class="btn btn-dark mr-3" type="submit" value="Search" />
</form>



<div class="container-fluid">
<div class="row p-5">

{% for n1 in myprofile_list %}
	<div class="col-sm-4 p-4">
<div class="card h-100">
    <img class="card-img-top" src="/media/{{n1.pic}}" alt="" height="50%">
    <div class="card-body">
        <h4 class="card-title">{{n1.name | capfirst}}</h4>
        <h6 class="card-title">{{n1.description | capfirst}}</h6>
        <p class="card-text">{{n1.course | capfirst}} - {{n1.branch | upper}} - {{n1.YOJ}} - {{n1.YOP}}
        {% if n1.uploaded_by.pic %}
		<img style="width: 50px; height: 50px;" src="/media/{{n1.uploaded_by.pic}}" class="img-fluid rounded-circle"  />
		{% endif %}
		</p>
		<a class="w3-btn w3-white w3-border w3-border-teal w3-round" href='/social/myprofile/{{n1.id}}'>Read More</a>
		{% if request.user.id == n1.id %}
		<a class="w3-btn w3-white w3-border w3-border-teal w3-round" href='/social/myprofile/edit/{{ n1.id }}'>Edit</a>
		{% endif %}
        </div>
</div>

	</div>
{% endfor %}
</div>
</div></div></div>












<!--table class="table my-3">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Action</th>
        </tr>
    </thead>
{% for n1 in myprofile_list %}
        <tr>
            <td>{{n1.name}}</td>
            <td>{{n1.age}}</td>
            <td>{{n1.gender}}</td>
            <td>
            <a class="btn btn-dark btn-sm" href='/social/myprofile/{{n1.id}}'>Read More</a>
            {% if n1.followed %}
            <a class="btn btn-danger btn-sm" href='/social/myprofile/unfollow/{{n1.id}}'>Unfollow</a>
            {% else %}
            <a class="btn btn-primary btn-sm" href='/social/myprofile/follow/{{n1.id}}'>Follow</a>
            {% endif %}
            </td>
        </tr>
{% endfor %}
</table>
</div-->
{% endblock %}
